<div class = "comment">
    <div>
        <p class = "username">{{username}}</p>
        <p class = "date">{{date}}</p>
        <p class = "content">{{content}}</p>
    </div>
    
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            {% include 'Comment/RemoveComment.html.twig' with {
                commentId: IdComment
            } only %}
        </div>
    {% endif %}
    
    
</div>