<div class = "comment">
    <div>
        <p class = "username">{{username}}</p>
        <p class = "date">{{date}}</p>
        <p class = "content">{{content}}</p>
    </div>
    
    <div class="moderation">
        {% include 'Comment/SignalComment.html.twig' with {
            commentId: IdComment
        } only %}
        {% if is_granted('ROLE_ADMIN') %}
                {% include 'Comment/RemoveComment.html.twig' with {
                    commentId: IdComment
                } only %}
        {% endif %}
    </div>
    
    
</div>