form[name=comment]{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    h2{
        display: none;
    }
}



#comment{
    display: flex;
    flex-direction: row;
    width: 100%;

    :first-child{
        width: 80%;

        :first-child{
            width: 100%;
        }
    }
    :nth-child(2){
        width: 20%;
        :first-child{
            width: 100%;
        }
    }
}