.menuHeader {
    display: flex;
    justify-content: center;
    width: inherit;
   a{
    margin: 2%;
   }

   :hover{
        color: darkorange;
   }
}

.active{
    text-decoration: underline;
    color: darkorange;
}