form[name=login_form]{
    display: flex;
    flex-direction: row;
    margin-top: 5%;

    *{
        margin: 2%;
    }

    input{
        width: 100%;
        border: none;
        border-bottom:1px white solid;
        background-color: transparent;
        color: white;
    }

    input[type=password]:hover , input[type=text]:hover{
        border-bottom:1px darkorange solid;
        background-color: rgba(255, 255, 255, 0.329);
    }

    button{
        background-color: transparent;
        color: white;
        border: 1px white solid;
    }

    button:hover{
        border:1px darkorange solid;
        background-color: rgba(255, 255, 255, 0.329);
    }
}

.registerLink{
    color: lightgray;
    font-size: small;
    text-decoration: underline;

    :hover{
        color: darkorange;
        text-decoration-color: darkorange;
    }
}