{% extends "base.html.twig"%}

{% block body%}
    <h1>Dashboard</h1>

    <div class="dashActions">
        <a href="{{ path('app_signaledComments') }}", class="dashButton">Signaled comments</a>
        <a href="{{ path('app_signaledPosts') }}", class="dashButton">Signaled posts</a>
        <a href="{{ path('app_adminMangeUserRole') }}", class="dashButton">Manage users role</a>
        <a href="{{ path('app_createCategory') }}", class="dashButton">Create category</a>
    </div>
{% endblock %}