{% extends "base.html.twig"%}

{% block body%}
   
    {% for post in allPost %}
        <div class= "post">
            <a href="{{ path('app_signal_post', {'postId' : post.getId()}) }}">Signaler?</a>
            <a href="{{ path('post', {'postId': post.getId()}) }}">{{post.getTitle()}}</a>
            <p>{{post.getContent()}}</p>
        </div>
    {% endfor %} 

{% endblock %}