{% extends "base.html.twig"%}

{% block body%}

    {% include 'Post/CreatePostButton.html.twig'%}
    <div class="posts">
        {% for post in allPost %}

            {% include 'Post/PostModel.html.twig' with {
                    post: post
                } only %}

        {% endfor %} 
    </div>

{% endblock %}