{% extends "base.html.twig"%}

{% block body%}
   
   <div class="postContent">
      <div class="titleDiv">
         <h1>{{post.getTitle()}}</h1>
         <div class="moderation">
            {% include 'Post/SignalPost.html.twig' with {
                  postId: post.Id
            } only %}
            {% if is_granted('ROLE_ADMIN') %}
                     {% include 'Post/RemovePost.html.twig' with {
                        postId: post.Id
                     } only %}
            {% endif %}
         </div>
      </div>
      <p>{{post.getContent()}}</p>
   </div>

   <div class ="postComments">
      <h2>Comments</h2>
      {{form(formComment)}}
      <div class="allComment">
         {% for comment in post.comments %}
            {% include 'Comment/Comment.html.twig' with {
               content: comment.content,
               date : comment.createdAt.format('d-m-Y'),
               username : comment.user.username,
               IdComment: comment.id,
               } only %}


         {% endfor %}
      </div>
   </div>

{% endblock %}